<head>
  <title>Meteor Boilerplate</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1' http-equiv='X-UA-Compatible">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta content="telephone=no" name="format-detection">
  <meta content="user-scalable=1, width=device-width, initial-scale=1.0, maximum-scale=2.0" name="viewport">
</head>

<template name="layout">

    {{> yield}}

</template>
