<template name="home">

<section class="section--dark">
	<div class="shell">
		<div class="grid centered">
			<div class="grid__item">
				<h4>Getting started is as easy as...</h4>
				<hr>
			</div>
		</div>
		<div class="grid centered">
			<div class="grid__item one-third">
				<h1><span class="fa fa-fw fa-search"></span></h1>
				<h2>Find Your School</h2>
			</div><div class="grid__item one-third">
				<h1><span class="fa fa-fw fa-plus"></span></h1>
				<h2>Add Your Classes</h2>
			</div><div class="grid__item one-third">
				<h1><span class="fa fa-fw fa-music"></span></h1>
				<h2>Do a Little Dance</h2>
			</div>
		</div>
		<div class="grid centered">
			<div class="grid__item">
				<hr>
				<a href="#" class="btn btn--filled">Sign Up and Get Started</a>
			</div>
		</div>
	</div>
</section>

<section class="section--secondary">
	<div class="shell">
		<div class="grid">
			<div class="grid__item lap-and-up-one-half">
				<h1>For Students</h1>
				<ul class="list--bulleted">
					<li>All assignments and class info in one place</li>
					<li>Never forget what's due or when it's due</li>
					<li>Ask questions and get homework help</li>
				</ul>
			</div><div class="grid__item lap-and-up-one-half">
				<h1>For Teachers</h1>
				<ul class="list--bulleted">
					<li>Simple class management</li>
					<li>Assignment scheduling</li>
					<li>Dropbox Integration for attaching documents</li>
					<li>Push notifications to students</li>
				</ul>
			</div>
		</div>
	</div>
</section>

</template>