<template name="sample">
	<section>
		<div class="shell">
			<div class="constrained">
				<h1>The Sample Template</h1>
				<p>This is the sample template. Not much to see here. If you can read this, you can take comfort in knowing that everything appears to be working properly.</p>
				<a href="/" class="btn">View the Home Template</a>
				<a href="#" class="btn btn--secondary" data-modal="samplemodal">Open Modal</a>
			</div>
		</div>
	</section>
	<section class="section--dark">
		<div class="shell">
			<h2>Dark Section</h2>
		</div>
	</section>
	<section class="section--tertiary">
		<div class="shell">
			<h2>Tertiary Section</h2>
		</div>
	</section>
	<section class="section--secondary">
		<div class="shell">
			<h2>Secondary Section</h2>
		</div>
	</section>
	<section class="section--primary">
		<div class="shell">
			<h2>Primary Section</h2>
		</div>
	</section>
</template>