@if $use-forms == true {
	
	label {
		font-family: $base-heading-font;
		font-size: $font-size*.9;
		font-weight: 500;
		letter-spacing: -.5px;
		margin-bottom: $base-spacing-unit/6;
		cursor: text;
	}

	input {
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
		font-family: $base-heading-font;
		font-size: $font-size;
		line-height: $line-height;
		font-weight: 500;
		letter-spacing: -.5px;
		background-color: transparent;
		border: 0px;
		-webkit-appearance: none;
		@include radius(0px);
		outline: none;
		@include vendor(transition, all $global-duration $global-function);

		background-color: $light-color;
		border-bottom: $border-size/2 solid darken($light-color, 13);
		box-shadow: 0 0 3px rgba(0,0,0,.08);
		padding: $base-spacing-unit/4 + 1 $base-spacing-unit/3.5 $base-spacing-unit/4 - 1;
		margin-bottom: $base-spacing-unit/3;
		@include radius($border-radius);

		&[type="text"], 
		&[type="password"], 
		&[type="email"], 
		&[type="search"], 
		&[type="tel"], 
		&[type="url"], 
		{
			cursor: text;
		}

		&[type="submit"] {
			@extend .btn--filled;
			box-shadow: none;
			// border-color: $primary-color;
			// background-color: $primary-color;
			// color: $light-color;
		}
	}

	.input--amount {
		position: relative;
		margin-bottom: $base-spacing-unit/3;

		input {
			margin-bottom: 0px;
			text-indent: $base-spacing-unit/3;
		}

		&:before {
			content: '$';
			font-family: $base-heading-font;
			font-size: $font-size;
			line-height: $line-height;
			font-weight: 500;
			position: absolute;
			top: 50%;
			left: $base-spacing-unit/3.5;
			margin-top: -14px;
		}
	}

	// select {
	// 	-webkit-appearance: none;
	// }

	.chzn-container {
		width: 100% !important;
		margin-bottom: $base-spacing-unit/2;
		overflow: hidden;
		min-width: 180px;

		&.chzn-container-active {
			overflow: visible;
		}

		.grid__item & {
			margin-bottom: 0px;
		}

		a {
			font-family: $base-heading-font;
			font-size: $font-size;
			font-weight: 500;
			letter-spacing: -.5px;
			margin-bottom: 0px;
		}

		.chzn-drop {
			box-shadow: none;
			border: 0px;
			@include radius(0px);
		}
	}

	.chzn-container-single {
		.chzn-single {
			font-size: $font-size;
			line-height: $line-height;
			height: auto;
			padding: $base-spacing-unit/4 + 1 $base-spacing-unit/3.5 $base-spacing-unit/4 - 1;
			background-image: none;
			border: 0px;
			box-shadow: 0 0 3px rgba(0,0,0,.08);
			border-bottom: $border-size/2 solid darken($light-color, 13);
			@include radius($border-radius);

			.chzn-container-active & {
				-webkit-border-top-left-radius: $border-size;
				-webkit-border-top-right-radius: $border-size;
				-moz-border-radius-topleft: $border-size;
				-moz-border-radius-topright: $border-size;
				border-top-left-radius: $border-size;
				border-top-right-radius: $border-size;
			}

			div {
				display: none;
			}

			&:after {
				content: '\f0d7';
				font-family: FontAwesome;
				font-size: $font-size*1.1;
				position: absolute;
				top: 50%;
				right: $base-spacing-unit/3;
				margin-top: -12px;
			}
		}

		.chzn-search {
			position: relative;
			left: 1px;
			margin-left: -2px;
			padding: 0 $base-spacing-unit/6;
			border-right: $border-size/2 solid darken($light-color, 8);
			border-left: $border-size/2 solid darken($light-color, 8);

			input {
				font-family: $base-heading-font;
				font-size: $font-size;
				font-weight: 500;
				background: none;
				padding: $base-spacing-unit/4 + 1 $base-spacing-unit/3.5 $base-spacing-unit/4 - 1;
				margin: 0px;
				border: 0px;
				box-shadow: inset 0 0 8px rgba(0,0,0,.07);
				border-top: $border-size/2 solid darken($light-color, 8);
				border-bottom: $border-size/2 solid darken($light-color, 8);

				@include radius(0px);
			}

			&:after {
				content: '\f002';
				font-family: FontAwesome;
				font-size: $font-size*.9;
				position: absolute;
				top: 50%;
				right: $base-spacing-unit/2;
				margin-top: -13px;
			}
		}

		.chzn-results {
			width: 100%;
			padding: $base-spacing-unit/6;
			padding-right: $base-spacing-unit/6 + 1;
			margin: 0px !important;

			li {
				font-family: $base-heading-font;
				font-size: $font-size;
				line-height: $line-height;
				font-weight: 500;
				padding: $base-spacing-unit/5 + 2 $base-spacing-unit/3.5 $base-spacing-unit/5 - 2;
				background-color: $light-color;
				color: $dark-color;
				border-top: $border-size/2 solid darken($light-color, 6);

				&.group-result {
					background-color: lighten($medium-color, 30);
					color: $medium-color;
					font-size: $font-size*.8;
					line-height: $line-height*.8;
					font-weight: 500;
					text-transform: uppercase;
					border-top: 0px;

					+ li {
						border-top: 0px;
					}
				}

				&.highlighted {
					background-image: none;
					background-color: $primary-color;
					border-color: $primary-color;

					& + li {
						border-color: $primary-color;
					}
				}
			}
		}

		.chzn-drop {
			margin-bottom: $base-spacing-unit;
			box-shadow: 0 0 3px rgba(0,0,0,.08);

			&:after {
				content: '';
				position: absolute;
				top: -2px;
				left: 0px;
				width: 100%;
				border-top: $border-size solid $light-color;
			}
		}
		
		// Hide Search Field When Disabled
		&.chzn-container-single-nosearch {
			.chzn-search {
				display: none;
			}
		}
	}

	.chzn-container-active.chzn-with-drop .chzn-single {
		border: 0px;
		background-color: $light-color;
		background-image: none;
		box-shadow: 0 0 3px rgba(0,0,0,.08);
	}
}