@if $use-headings == true {

	@include headings(1,6) {
  	font-family: $base-heading-font;
  	margin-bottom: $base-spacing-unit/2;
    color: $tertiary-color;

		.section--primary &, 
		.section--secondary &, 
		.section--tertiary &, 
		.section--dark & {
			color: $light-color;
		}

    .section--medium &,
		.section--light & {
			color: $dark-color;
		}
	}

	h1 {
		font-size: $h1;
		line-height: $h1-height;
    margin-bottom: $base-spacing-unit*.75;
    color: $primary-color;

    .section--primary & {
      color: $tertiary-color;
    }

    .section--dark & {
      color: $primary-color;
    }
	}

	h2 {
		font-size: $h2;
		line-height: $h2-height;

    .section--medium & {
      color: $primary-color;
    }
	}

	h3 {
		font-size: $h3;
		line-height: $h3-height;
		color: darken($medium-color, 30);

		.section--medium & {
			color: darken($medium-color, 40);
		}
	}

	h4 {
		font-size: $h4;
		line-height: $h4-height;
	}

	h5 {
		font-size: $h5;
		line-height: $h5-height;
	}

	h6 {
		font-size: $h6;
		line-height: $h6-height;
	}
}