.logo {
	font-size: $h1*1.97;
	line-height: $h1*1.97;
	font-weight: 300;
	letter-spacing: -5px;
	text-indent: -5px;
	font-style: italic;
	color: $primary-color;

	span {
		font-weight: 900;
		letter-spacing: -5px;
		color: $tertiary-color;
	}
}